.breadcrumbs {
  font-size: 0.9rem;
  color: #636e72;
  margin-bottom: 1rem;
}

.breadcrumbs a {
  color: #6c5ce7;
  border-bottom: solid 1px transparent;
  text-decoration: none;
  transition: border-color 0.3s;
}

.breadcrumbs a:hover {
  border-color: #6c5ce7;
}