.roundContainer {
  padding: 1rem;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 1200px;
}

.roundHeader {
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: 700;
  color: #6c5ce7;
  text-align: center;
  margin-bottom: 0.5rem;
}

.roundSubheader {
  font-size: 1rem;
  text-align: center;
  color: #555;
  margin-bottom: 1.875rem;
  margin-top: 0;
}

.roundInfoContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.roundInfoItem {
  font-size: 0.875rem;
  background: #f5f5f5;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}

.professorListContainer {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.tableRow:nth-child(even) {
  background: #f8f8f8;
}

.tableRow {
  border-bottom: 1px solid #eee;
}

.tableHeader {
  background: #6c5ce7;
  color: #FFF;
  padding: 0.8rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
}

.tableHeader:first-of-type {
  text-align: left;
}

.tableCell {
  padding: 1rem;
  font-size: 0.875rem;
  text-align: center;
}

.tableCell:first-of-type {
  text-align: left;
}

.professorItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  background: #fff;
  position: relative;
}

.professorItem:last-child {
  border-bottom: none;
}

.professorEmail {
  font-size: 0.9rem;
  color: #333;
  word-break: break-word;
  flex-grow: 1;
}

.toggleActions {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.actionsBox {
  position: absolute;
  right: 1rem;
  top: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  z-index: 1000;
  min-width: 200px;
}

.actionsBox.visible {
  display: flex;
}

.actionText {
  font-size: 0.875rem;
  color: #555;
  padding: 0.5rem;
}

.viewAnswersButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  background: linear-gradient(135deg, #00b894, #00cec9);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

.viewAnswersButton:hover {
  box-shadow: 0 4px 12px rgba(0, 184, 148, 0.3);
}

.viewAnswersButton:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.backButton {
  background: linear-gradient(135deg, #6c5ce7, #8e7cf3);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
}

.backButton:hover {
  box-shadow: 0 4px 12px rgba(108, 92, 231, 0.3);
}

.chartContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  background: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: 20px;
}

.chartTitle {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #2d3436;
}

.legendContainer {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.legendItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.legendColor {
  min-width: 20px;
  width: 20px;
  height: 20px;
  margin-top: 0.5rem;
  margin-right: 1rem;
  border-radius: 100%;
}

.legendText {
  font-size: 0.875rem;
  color: #333;
}

/* Media Queries */
@media (min-width: 768px) {
  .roundContainer {
    padding: 2rem;
  }

  .roundInfoContainer {
    flex-direction: row;
    gap: 2rem;
  }

  .professorItem {
    display: none; /* Esconde a lista no desktop */
  }

  .table {
    display: table; /* Mostra a tabela no desktop */
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    overflow: hidden;
  }

  .legendContainer {
    margin-left: 20px;
  }
}

@media (max-width: 1024px) {
  .table {
    display: none; /* Esconde a tabela no mobile */
  }

  .professorListContainer {
    box-shadow: none; /* Remove sombra extra no mobile */
  }

  .professorItem {
    display: flex; /* Mostra a lista no mobile */
  }
}

@media (min-width: 992px) {
  .roundContainer {
    padding: 1.5rem 5%;
  }

  .roundInfoItem,
  .tableHeader,
  .tableCell,
  .legendText {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .chartContainer {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .table {
    display: none; /* Esconde a tabela no mobile */
  }

  .professorListContainer {
    box-shadow: none; /* Remove sombra extra no mobile */
  }
}

.question {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: normal;
}
.stdDeviation,
.average {
  margin-top: 4px;
  margin-bottom: 0;
  line-height: normal;
}