.sidebarContainer {
  width: 260px;
  background: rgb(102, 116, 130);
  color: #ecf0f1;
  padding: 1.5rem;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: sticky;
  max-height: 100vh;
  top: 0;
}

.sidebarMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.sidebarMenuItem {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  margin: 8px 0;
  cursor: pointer;
  background: transparent;
  border-radius: 8px;
  transition: background 0.3s;
}

.sidebarMenuItemActive,
.sidebarMenuItem:hover {
  background: #6c5ce7;
}

.sidebarMenuItem svg {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

.logoutButton {
  width: 100%;
  padding: 0.75rem 1rem;
  background: linear-gradient(135deg, #ff568f, #ff8484);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutButton:hover {
  /* background: #e84118; */
}

.logoutButton svg {
  margin-right: 8px;
}
